body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

span{
    /* font-size: 22px; */
    /* xx-small x-smal medium large 
    font-size: xx; */
    font-size: smaller;
    font-style: italic;
}

/* i{
    font-style: normal;
} */